@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-xs { font-size: 13px !important; }
  .text-sm { font-size: 15px !important; }
  .text-\[11px\] { font-size: 12px !important; }
  .text-\[12px\] { font-size: 13px !important; }
  .text-\[13px\] { font-size: 14px !important; }
}
