.animate-fade-in-down[data-v-75aeed96]{animation:fadeInDown-75aeed96 .3s ease-out}@keyframes fadeInDown-75aeed96{0%{opacity:0;transform:translateY(-10px);scale:.95}to{opacity:1;transform:translateY(0);scale:1}}
