.animate-fade-in-down[data-v-1ed5590a]{animation:fadeInDown-1ed5590a .3s ease-out}@keyframes fadeInDown-1ed5590a{0%{opacity:0;transform:translateY(-10px);scale:.95}to{opacity:1;transform:translateY(0);scale:1}}
